/* Resetando alguns estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #ff69b4;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header .logo h1 {
  font-size: 3rem;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffe4e1;
}

/* Seção de Produtos */
.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
}

.produto {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.produto h3 {
  font-size: 1.5rem;
  margin-top: 15px;
}

.produto p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.produto button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.produto button:hover {
  background-color: #ff1493;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
